[Unit]
Description=Docker proxy with auth

Requires=network.target docker.service
After=network.target docker.service

[Service]
Type=forking

User=root
Group=root

RuntimeDirectory=docker-proxy
RuntimeDirectoryMode=0755

PIDFile=/run/docker-proxy/docker-proxy.pid

WorkingDirectory=/tmp

ExecStart=/usr/local/bin/docker-proxy -c /etc/docker-proxy/app.conf.yaml

ExecStartPost=/bin/bash -c 'systemctl show -p MainPID --value %n > /run/docker-proxy/docker-proxy.pid'

Restart=always
RestartSec=5

TimeoutStartSec=15
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target