[Unit]
Description=Docker proxy with auth
Requires=network.target docker.service
After=network.target docker.service

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/tmp
ExecStartPre=+/usr/bin/mkdir -p /run/docker-proxy
ExecStartPre=+/usr/bin/chmod 755 /run/docker-proxy
ExecStart=/usr/local/bin/docker-proxy /etc/docker-proxy/app.conf.yaml
Restart=always
RestartSec=40

[Install]
WantedBy=multi-user.target